{% extends "mainLayout.html" %}
{% block main %}
    {% load static %}
    {% if success %}
        <div class="container">
        <h3 style="color:green"> Your Order was Submitted Successfully!</h3>
        <a href="/account/"><u> You can check the order status in your account's 'ORDERS' Tab</u></a>
        </div>
    {% else %}
        <div>
            <h3><b> Product Details : </b></h3>
            <hr>
            <p>Category: {{ item.product.category }}</p>
            <img src="/media/{{ item.product.image }}" alt="Product image" style="height: 200px;width: 200px;" class="img-fluid">
            <p>Brand: {{ item.product.brand }}</p>
            <p>Model: {{ item.product.name }}</p>
            <p>Details: {{ item.product.details }}</p>
            <hr>
    </div>
    <div class="container" style="max-width:500px ">
    <h3><b> Finish Your Purchase : </b></h3>
        <h5>Shop: {{  item.shop.name }} </h5>
        <h5>Price: ${{ item.price }} </h5>
        <h6>Stock: {{ item.stock }}</h6>
    <form id="finish_purchase" method="post" action="/do_order/{{ item.id }}/">
        {% csrf_token %}
        {{ order_form.as_p}}
        {% if error_address %} <p style="color:red"> You need to Add an Address in your account settings first! </p> {% endif %}
        {% if error_qty %} <p style="color:red"> Unfortunately, this Shop does not have enough stock for your demand. :(  </p> {% endif %}
        <input type="submit" name="buy_product" value="Confirm Purchase" />
    </form>
    </div>

    {% endif %}
{% endblock %}