{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TechSekai - Error Page</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/icon_logo.png' %}">
        <meta name="msapplication-TileColor" content="#cc9966">
        <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{% static 'vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/jquery.countdown.css' %}">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link rel="stylesheet" href="{% static 'css/skins/skin-demo-13.css' %}">
        <link rel="stylesheet" href="{% static 'css/demos/demo-13.css' %}">
    </head>

    <body>

    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>404 - Page not found</h2>
			<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
			<a href="{% url 'home' %}">Go To Homepage</a>
		</div>
	</div>



        <!-- Plugins JS File -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/superfish.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>

        <!-- Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/demos/demo-13.js' %}"></script>
    </body>
</html>