{% extends 'mainLayout.html' %}
{% block main %}
    <h2 style="padding-left: 20%; padding-top: 2%; color: #39f" > {{ page }} product </h2>
    {% if msg %}
        <div class="alert alert-success" role="alert">
            <strong>Success: </strong> {{ msg }}
        </div>
    {% elif msgErr %}
        <div class="alert alert-danger" role="alert">
            <strong>Error: </strong> {{ msgErr }}
        </div>
    {% else %}
        <form action="." method="POST" style="padding: 2% 20%;" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label class="col-sm-2"> {{ field.label_tag }}</label>
                    <div class="col-md-4">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            {% if page == 'Add' %}
                <div class="form-group" align="center">
                    <input class="btn btn-primary rounded btn-sm" type="submit" value="Create">
                </div>
            {% else %}
                <div class="form-group" align="center">
                    <input class="btn btn-primary rounded btn-sm" type="submit" value="Update">
                        <a class="btn btn-danger rounded btn-sm" href="/products/delete/{{ id }}/" role="button">Delete</a>
                </div>
            {% endif %}
        </form>
    {% endif %}
    <script>
        var cat = document.getElementById("id_category")
        var b = document.getElementById("id_brand")

        cat.addEventListener("change", categoryUp);
        function categoryUp() {
            if (cat.value == 'Other')
                 document.getElementById("id_new_cat").disabled = false
            else
                document.getElementById("id_new_cat").disabled = true;
        }

        b.addEventListener("change", brandUp);
        function brandUp() {
            if (b.value == 'Other')
                 document.getElementById("id_new_brand").disabled = false
            else
                document.getElementById("id_new_brand").disabled = true;
        }
    </script>
{% endblock %}