{% extends "home.html" %}
{% block list_products_block %}
   {% load static %}
    <div class="container">
        <h2 class="title text-center mb-2">Products: </h2><!-- End .title -->
        <div class="cat-blocks-container">
            <div class="row">
                {% for p in products %}
                   <div class="product col-4">
                        <figure class="product-media" style="background: whitesmoke;">
                            <a href="#">
                                <img src="{% static "imgs/"%}{{ p.image }}" alt="Product image" class="product-image">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>

                                <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            </div><!-- End .product-action-vertical -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"
                                   title="Add to cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-cat">
                            <a href="#">{{ p.category.name }}</a>
                            <h3 class="product-title"><a href="#">{{ p.name }}</a></h3>

                            <div class="product-price">
                                <span class="new-price">251.99</span>
                            </div>
                        </div><!-- End .product-cat -->

                   </div>
                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->
{% endblock %}