{% extends "mainLayout.html" %}
{% block main %}
   {% load static %}
    <div class="container" style="padding-top: 5%; padding-bottom: 3%">
        <div class="cat-blocks-container" style="text-align: center">
        {% for p in products %}
            {% if forloop.first %} <div class="row justify-content-evenly"> {% endif %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="product">
                            <figure class="product-media">
                                <a href="#">
                                    <img src="{% static "imgs/"%}{{ p.image }}" alt="Product image" style="height: 200px;width: 100%;" class="img-fluid">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"
                                       title="Add to cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
                            <div class="product-body" style="background: #23272b">
                                <div class="product-cat">
                                    <a href="#">{{ p.category.name }}</a>
                                </div><!-- End .product-cat -->
                                <h2 class="product-title" style="color: white"><a href="#">{{ p.name }}</a></h2>
                                <p class="new-price" style="color: #1a8cff">$251.99</p>
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                </div>
            {% if forloop.counter|divisibleby:4 %} </div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% empty %}
                <p class="btn btn-danger disabled btn-lg" style="color: white; margin-bottom: 10px; border-radius: 10px;"> Sorry, no products available! </p>
                <br>
        {% endfor %}
        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->
{% endblock %}
