{% extends "mainLayout.html" %}
{% load static %}
{% load auth_extras %}

{% block main %}
    <div class="container" style="padding-top: 5%">
        <div class="cat-blocks-container" style="text-align: center">
        {% for p in products %}
            {% if request.user|has_group:"shops" %}
                {% addstr '/products/edit/' p.id as myurl %}
            {% else %}
                {% addstr '/product/' p.id  as  myurl %}
            {% endif %}
            {% if forloop.first %} <div class="row justify-content-evenly"> {% endif %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="product">
                            <figure class="product-media">
                                <a href="{{ myurl }}/">
                                    <img src="/media/{{ p.image }}" alt="Product image" style="height: 200px;width: 100%;" class="img-fluid">
                                </a>
                            </figure><!-- End .product-media -->
                            <div class="product-body" style="background: #23272b">
                                <div class="product-cat">
                                    <a>{{ p.category.name }}</a>
                                </div><!-- End .product-cat -->
                                <h2 class="product-title" style="color: white"><a>{{ p.name }}</a></h2>
                                <a href="{{ myurl }}/" >Open Product</a>
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                </div>
            {% if forloop.counter|divisibleby:4 %} </div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% empty %}
                <p class="btn btn-danger disabled btn-lg" style="color: white; margin-bottom: 10px; border-radius: 10px;"> Sorry, no products available! </p>
                <br>
        {% endfor %}
        <div class="container" style="display: flex;justify-content: center;padding-top: 3%; padding-bottom: 3%">
            {% if products.has_other_pages %}
              <ul class="pagination" style="text-align: center">
                {% if products.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                {% else %}
                  <li class="disabled"><span></span></li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                  {% if products.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if products.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="disabled"><span></span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>

        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->
{% endblock %}
