{% extends "mainLayout.html" %}
{% block main %}
    {% load static %}
    <div>
            <h3><b> Product Details : </b></h3>
            <hr>
            <p>Category: {{ prod.category }}</p>
            <img src="{% static "imgs/"%}{{ prod.image }}" alt="Product image" style="height: 200px;width: 200px;" class="img-fluid">
            {% if not wishlist %}
                <a href="/add_to_wishlist/{{ prod.id }}">Add to WishList</a>
                {% else %}
                <a href="/rem_from_wishlist/{{ prod.id }}">Remove from WishList</a>
            {% endif %}
            <p>Brand: {{ prod.brand }}</p>
            <p>Model: {{ prod.name }}</p>
            <p>Details: {{ prod.details }}</p>
            <hr>
    </div>
    <div>
        <h3><b> Available Shops : </b></h3>
        <table style="width:100%" class="table table-dark table-striped">
            <tr>
                <th>Shop</th>
                <th>Price</th>
                <th>Buy</th>
                <th>Add to Cart</th>
            </tr>
            {% for p in prod_per_shop %}
            <tr>
              <td>{{ p.shop.name }}</td>
              <td>${{ p.price }}</td>
              <td><a href="">Buy</a></td>
              <td><a href="/add_to_cart/{{ p.id }}">Add to Card</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
