{% extends "mainLayout.html" %}
{% load auth_extras %}
{% block main %}
    <div class="container" style="padding-top: 5%; padding-bottom: 3%">
        <div class="cat-blocks-container" style="text-align: center">
        {% for s in shops %}
            {% if forloop.first %} <div class="row justify-content-evenly"> {% endif %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="product">
                            <figure class="product-media">
                                <a href="#">
                                    <img src="/media/{{ s.image }}" alt="Product image" style="height: 200px;width: 100%;" class="img-fluid">
                                </a>
                            </figure><!-- End .product-media -->
                            <div class="product-body" style="background: #23272b">
                                <div class="product-cat">
                                    <a>{{ s.owner}}</a>
                                </div><!-- End .product-cat -->
                                <h2 class="product-title" style="color: white"><a>{{ s.name }}</a></h2>
                                <a href="{{ request.path }}{{ s.id }}/" >See Shop</a>
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                </div>
            {% if forloop.counter|divisibleby:4 %} </div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% empty %}
                <p class="btn btn-danger disabled btn-lg" style="color: white; margin-bottom: 10px; border-radius: 10px;"> Sorry, no shops available! </p>
                <br>
        {% endfor %}
        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->
{% endblock %}
