
{% if user.is_authenticated %}
    {% if 'shops' in request.user.groups.all %}


    {% endif %}

    <!-- AS OPÇOES DE NAVBAR PARA USER AUTENTICADO PODEM APARECER AQUI  -->
    <form id="logoutForm" action="/logout" method="get" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </form>

{% else %}
 <!-- AS OPÇOES PARA USER NÃO AUTENTICADO AQUI   -->
    <a  href="{% url 'login' %}">Login</a>
    <a> or </a>
    <a  href="{% url 'register' %}">Register</a>

{% endif %}

